body{
	background-color:darkgray;
	font-family: "TT Norms Thin";
	color: blue;
}

a:link, a:visited {
    background-color: gray;
    color: blue;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: square;
}

a:hover, a:active {
    color: gray;
    background-color: blue;
}

table {
	width:80%;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}
td {
	vertical-align: middle;
}

tr {
	border: 5px blue;
	text-align: center;
	background-color:gray; 
}

th {
	text-align: center;
	color: blue;
	background-color: gray;
}